p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  max-height: 250px;
  overflow-y: auto;
}
pre code {
  white-space: inherit;
}
